<header>
  <div class="header_wrapper">
    <div class="logo" routerLink="/"><img src="stackinsight.dev-logo.png" alt=" Stack Insight"></div>
    <nav>
      <a routerLink="/">Home</a>
    </nav>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
  <footer>
    <div class="footer_content">
      <div class="footer_logo"><img src="stackinsight.dev-logo.png" alt=" Stack Insight"></div>
      <nav>
        @for (item of moreInfo; track item.title) {
          <a routerLink="{{ item.link }}">{{ item.title }}</a>
        }
      </nav>
      <div class="footer_copyright">© 2025 StackInsight.dev. All rights reserved.</div>
    </div>
  </footer>
</main>