.home_content { display: flex; flex-direction: column; padding: 20px; max-width: 1000px; margin: 0 auto; color: #333;
  .title2 { font-family: 'Rokkitt', serif; font-weight: 500; font-size: 2em; margin: 0; text-align: center; }
}